[Unit]
Description=uWSGI Emperor service

[Service]
ExecStartPre=/bin/bash -c 'mkdir -p /home/senabo/projects/tracker/src/config; chown username:www-data /home/senabo/projects/tracker/src/config'
ExecStart=/usr/local/bin/uwsgi --emperor /home/senabo/projects/tracker/src/config
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target 




