{% extends 'base.html' %}

{% block title %}Tracker Info{% endblock %}

{% block content %}
    <div class="tm-text-white tm-page-header-container">
        <h1 class="tm-page-header">Attendance tracker for students</h1>
    </div>
    <div class="tm-main-content">
        <section class="tm-section">
            {% for group in groups %}
                <h2 class="tm-section-header">{{ group }}</h2>
                <div class="tm-responsive-table">
                    <table>
                        <tr class="tm-tr-header">
                            <th class="tm-text-left">Students</th>
                            <th>Group</th>
                            <th>Total scanning</th>
                            <th>Last scan</th>
                        </tr>
                        {% for student in students %}
                            {% if student.group == group %}
                                <tr>
                                    <td class="tm-text-left">
                                        <a class="tm-footer-link"
                                           href="{% url 'student_detail' student.id %}">
                                            {{ student }}</a>
                                    </td>

                                    <td>{{ student.group }}</td>

                                    <td>{{ student.number_scan }}</td>

                                    {% if  student.tags.all.first != None %}
                                        <td>{{ student.tags.all.first }}</td>
                                    {% else %}
                                        <td> - </td>
                                    {% endif %}

                                </tr>
                            {% endif %}
                        {% endfor %}

                    </table>
                </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}