<div class="pagination__wrapper">
    <ul class="pagination">
        {% if show_all == '1' %}
            <li>
                <button onclick="window.location.href = '?page=1';" class="next"
                        title="Show pages">Show Pages
                </button>
            </li>
        {% endif %}

        {% if page.has_previous %}
            <li>
                <button onclick="window.location.href = '?page=1';"
                        title="first page ">First page
                </button>
            </li>
        {% endif %}

        {% if page.has_previous %}
            <li>
                <button class="prev" onclick="window.location.href = '?page={{ page.previous_page_number }}';"
                        title="previous page">&#10094;
                </button>
            </li>
        {% endif %}

        {% if page.has_previous %}
            <li>
                <button onclick="window.location.href = '?page={{ page.previous_page_number }}';"
                        title="page {{ page.previous_page_number }}">
                    {{ page.previous_page_number }}
                </button>
            </li>
        {% endif %}

        <li>
            <button class="active" title="current page - {{ page.number }}">{{ page.number }}</button>
        </li>

        {% if page.has_next %}
            <li>
                <button onclick="window.location.href = '?page={{ page.next_page_number }}';"
                        title="page {{ page.next_page_number }}">
                    {{ page.next_page_number }}
                </button>
            </li>
        {% endif %}

        {% if page.has_next %}
            <li>
                <button onclick="window.location.href = '?page={{ page.next_page_number }}';" class="next"
                        title="next page">&#10095;
                </button>
            </li>
        {% endif %}

        {% if page.has_next %}
            <li>
                <button onclick="window.location.href = '?page={{ page.paginator.num_pages }}';"
                        title="last page">
                    Last page
                </button>
            </li>
        {% endif %}

        {% if all != '1' and page.has_next or page.has_previous %}
            <li>
                <button onclick="window.location.href = '?show_all=1';" class="next"
                        title="show all pages">| Show All
                </button>
            </li>
        {% endif %}

    </ul>
</div>
