{% extends 'base.html' %}

{% block title %}
    {{ name }}
{% endblock %}

{% block content %}

    <div class="tm-text-white tm-page-header-container">
        <div id="tm-intro-img">
            <a href="{% url 'index' %}">
                <img class="back-arrow" src="/media/arrow.png" alt="">
            </a>
        </div>
        <h1 class="tm-page-header">{{ name }}</h1>
    </div>

    <div class="tm-main-content">

        <section class="tm-section">

            <h2 class="tm-section-header ">{{ name.number_scan }} times scanned</h2>
            <div class="tm-responsive-table">
                <table>
                    <tr class="tm-tr-header">
                        <th class="tm-text-left">Date</th>
                        <th>Time</th>
                    </tr>
                    {% for scan in scans %}
                        <tr>
                            <td class="tm-text-left">{{ scan.scanned|date:"d-m-Y " }}</td>
                            <td>{{ scan.scanned|date:"H:i" }}</td>

                        </tr>
                    {% endfor %}

                </table>
            </div>
        </section>
    </div>

    {% include "pagination2.html" with page=scans %}
{% endblock %}
